
QuartoGame_IA.iml
out/production/QuartoGame_IA/Quatro/UI.class
out/production/QuartoGame_IA/Quatro/UI$6.class
out/production/QuartoGame_IA/Quatro/UI$5.class
out/production/QuartoGame_IA/Quatro/UI$4.class
out/production/QuartoGame_IA/Quatro/UI$3.class
out/production/QuartoGame_IA/Quatro/UI$2.class
out/production/QuartoGame_IA/Quatro/UI$1.class
out/production/QuartoGame_IA/Quatro/Tauler.class
out/production/QuartoGame_IA/Quatro/Player2.class
out/production/QuartoGame_IA/Quatro/Player1.class
out/production/QuartoGame_IA/Quatro/ImageRenderer.class
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
