
QuartoGame_IA.iml
out/production/QuartoGame_IA/Quatro/UI.class
out/production/QuartoGame_IA/Quatro/UI$6.class
out/production/QuartoGame_IA/Quatro/UI$5.class
out/production/QuartoGame_IA/Quatro/UI$4.class
out/production/QuartoGame_IA/Quatro/UI$3.class
out/production/QuartoGame_IA/Quatro/UI$2.class
out/production/QuartoGame_IA/Quatro/UI$1.class
out/production/QuartoGame_IA/Quatro/Tauler.class
out/production/QuartoGame_IA/Quatro/Player2.class
out/production/QuartoGame_IA/Quatro/Player1.class
out/production/QuartoGame_IA/Quatro/ImageRenderer.class
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/uiDesigner.xml
out/production/QuartoGame_IA/Quatro/ConjuntPeces.class
out/production/QuartoGame_IA/META-INF/QuartoGame_IA.kotlin_module
*.class
*.xml
src/Marc/AlphaBeta.java
src/Marc/Combination.java
src/Marc/Heuristic.java
src/Marc/Node.java
src/Marc/Piece.java
src/Marc/Player.java
src/Marc/Player1.java
src/Marc/Position.java
src/Adri/SolutionTree.java
src/Adri/Player1.java
src/Adri/Pair.java
src/Adri/MinMax.java
